<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fds75.weather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appname"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appname"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CountryWeatherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DdlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChangeDdlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CountryWeather2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".WeatherDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyDailyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyDailySQLActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>